*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
nav{
    margin: auto;
    padding: 0;
    background-color: #FF6900;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-container{
    /* max-width: 1000px; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}
.logo{
    height: 40px;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
}
main{
    margin-top: 100px;
}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item-container{
    margin: 10px;
    position: relative;
}
.img-container{
    position: relative;
}
.item-img{
    display: block;
    max-width: 50vh;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
  }
.img-container:hover .overlay{
    bottom: 0;
    height: 100%;
}
.percent{
    position: relative;
    top: -50px;
    color: white;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.item-container>section{
    margin-top: -20px;
}
.sconto{
    color: red;
}
.prezzo{
    text-decoration: line-through;
}
.prezzo,.sconto{
    display: inline-block;
    padding: 2px;
}
.cuore{
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: absolute;
    top: 10px;
    right: 0;
}
.cuore:hover{
    color: red;
}